.gradle/
.idea/
build/
run/
run-server/
run-client/
target/
.vscode/
.settings/org.eclipse.buildship.core.prefs
bin/
.classpath
.project
.DS_Store
*.blend1
/CHANGES.md
/modrinth.json
original_assets/
original_sources/
.DS_Store
/src/main/generated/.cache/
