.gradle/
.idea/
build/
run/
run-server/
run-client/
target/
.vscode/
.settings/org.eclipse.buildship.core.prefs
bin/
.classpath
.project
.DS_Store
*.blend1
/CHANGES.md
/modrinth.json
original_assets/box_of_eir.afdesign
original_assets/box_of_eir.bbmodel
original_assets/BoxOfEir.blend
original_assets/faviconafdesign.afdesign
original_assets/Titletest.afdesign
original_assets/WebBanner.afdesign
original_assets/Wunderkiste.afdesign
.DS_Store
original_assets/box_of_eir.afdesign
original_assets/box_of_eir.bbmodel
original_assets/BoxOfEir.blend
original_assets/faviconafdesign.afdesign
original_assets/Titletest.afdesign
original_assets/WebBanner.afdesign
original_assets/Wunderkiste.afdesign
